/* headings */

@font-face {
    font-family: 'Permanent Marker';
    src: url('./assetsDir/Permanent_Marker/PermanentMarker-Regular.ttf');
    font-style: normal;
}

/* text */

@font-face {
    font-family: 'Nova Slim';
    src: url('./assetsDir/Nova_Slim/NovaSlim-Regular.ttf');
}

:root {
    --lightblack: #06111c;
    --backColor: #121317;
    --boldText: #FFEB4D;
    --lightText: #bec7c7;
    --btn: #bb2020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121317;
    height: 100%;
    /* overflow: hidden; */
}

h1 {
    font-family: 'Permanent Marker';
    text-align: center;
    color: var(--boldText);
}

p {
    font-family: 'Nova Slim', cursive;
    text-align: center;
    color: var(--lightText);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20%;
    background-color: #06111c;
}

nav {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    width: 90%;
}

#logo {
    width: 42px;
    height: 42px;
}

#logoDiv {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: block;
    position: relative;
    float: left;
    width: 96px;
    padding: 0;
    margin: 10px 10px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
    color: var(--btn);
    border-radius: 5px;
    transition: all 0.2s;
}

.btn:hover {
    scale: 1.05;
    box-shadow: 2px 2px 3px var(--boldText);
}

.active {
    border-bottom: 3px solid var(--boldText);
}

/* hero content styling*/

#hero {
    position: relative;
}

.heroChild1 {
    width: 20px;
    height: 423px;
    content: '';
    background-color: var(--btn);
    position: absolute;
    border-radius: 0%;
    left: 0px;
    top: 261px;
}


.homeChild2{
    width: 292px;
    position: absolute;
    right: 69px;
    top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;

}
.homeChild3{
    width: 600px;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: var(--lightText);
    text-align: center;
    /* line-height: 4px; */
}
#burger{
    width: 160px;
    height: 150px;
    position: absolute;
    left: 5%;

}
#donut{
    width: 200px;
    height: 190px;
    position: absolute;
    top: 160px;
    left: 405px;
}
#combo{
    width: 90px;
    height: 80px;
    border-radius: 25%;

}

@media only screen and (max-width: 600px) {
    .homeChild2{
        width: 254px;
right: 69px;
top: 267px;
font-size: large;
    }
    #burger{
        top: 80px;
    }
    .homeChild3 {
        width: 357px;
        height: 69px;
        top: 649px;
        left: -2px;
    }
    #donut{
        top: 500px;
left: 200px;
    }

}
